<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/volume">Volume</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <script src="../static/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  </body>

</html>
